*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Rubik font family */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --bg: #0f1424;
  --text: #fff;
  --black-text: #252525;
  --card-bg: #1c1f4a;
  --accent: #ff8c66;
  --input-border: 2px solid rgb(107, 107, 172);
  --border-curve: 0.4rem;
}

html {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
}

#container {
  width: 100%;
  max-width: 680px;
  border: 1px solid black;
  padding: 1rem;
}

#container > div {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  display: grid;
  gap: 1rem;
}

#container .top-container .user-info-container {
  display: flex;
  min-height: 180px;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  justify-content: center;
  gap: 1rem;
  border-radius: var(--border-curve);
}

#container .top-container .timer-info-container {
  background-color: var(--accent);
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: var(--border-curve);

}

#container .tracking-notes-container {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  min-height: 180px;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
  border-radius: var(--border-curve);

}


#track-notes {
}

#track-notes .new-card {
  min-height: 180px;
}







