*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Rubik font family */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --bg: #0f1424;
  --text: #fff;
  --black-text: #252525c2;
  --card-bg: #1c1f4a;
  --accent: #ff8c66;
  --input-border: 2px solid rgb(107, 107, 172);
  --border-curve: 0.4rem;
}

html {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
}

#container {
  width: 100%;
  max-width: 680px;
  padding: 1rem;
}

#container > div {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  display: grid;
  gap: 1rem;
}

/* user-info-container */
#container .top-container .user-info-container {
  display: flex;
  min-height: 180px;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  justify-content: center;
  gap: 1rem;
  border-radius: var(--border-curve);
  padding: 1.5rem 0;
}

.user-info-container h2 {
  font-size: 1.5rem;
}

.user-info-container .content-description {
  font-size: 1rem;
}

/* user-info-container */


/* timer-info-container */
#container .top-container .timer-info-container {
  background-color: var(--accent);
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: var(--border-curve);
  padding: 1.5rem 1rem;
}

.timer-info-container #timer-display {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--black-text);
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons button {
  flex: 1 1 50%;
  height: 30px;
  border: none;
  border-radius: var(--border-curve);
  background-color: transparent;
  box-shadow: 1px 1px 1px 1px var(--black-text);
  color: var(--black-text);
  font-weight: bold;
}

.buttons button:active {
  border-radius: unset;
}

/* timer-info-container */


/* tracking-note-container */
#container .tracking-notes-container {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  min-height: 180px;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
  border-radius: var(--border-curve);
  padding: 1.5rem 2rem;
}

.tracking-notes-container h3 {
  font-size: 1.5rem;
}

.tracking-notes-container input {
  width: 80%;
  padding: 0.5rem;
  height: 30px;
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: unset;
  border-bottom: var(--input-border);
  font-size: 0.8rem;
}

.tracking-notes-container .adding-habit-btn {
  width: 120px;
  height: 30px;
  background-color: var(--accent);
  border: none;
  border-radius: var(--border-curve);
  outline: none;
}

/* tracking-note-container */


#track-notes .new-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  border: 1px solid black;
  border-radius: var(--border-curve);
  gap: 1rem;
}

.new-card > div {
  width: 100%;
}

.new-card .top-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 1rem 0;
}

.top-content .card-title {
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
}

.top-content .card-content {
  font-size: 0.9rem;
  text-transform: unset;
}


.new-card .bottom-content {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.bottom-content button {
  font-size: 1.8rem;
  color: var(--text);
  background-color: transparent;
  border: none;
}

.bottom-content button:hover {
  cursor: pointer;
}

.bottom-content button:active {

}









